<mat-card class="container-event-info">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
        <mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>
    </div>
    <mat-card-title cgkRedTextDirective>{{event?.name}}</mat-card-title>
    <mat-card-subtitle>Date: {{event?.date}}</mat-card-subtitle>
    <img [src]="event?.imageUrl | defaultSrcImg: 'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg'" [alt]="event?.name"
        class="event-image">
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <div>
          <strong>Date:</strong> {{event?.date | date: 'fullDate'}}</div>
        <div>
          <strong>Time:</strong> {{event?.time}}</div>
        <div>
          <strong>Price:</strong> {{event?.price | currency: 'GBP' | lowercase}}</div>
      </div>
      <div class="col-md-6">
        <address>
          <strong>Address:</strong>
          <br /> {{event?.location?.address}}
          <br /> {{event?.location?.city}}, {{event?.location?.country}}
        </address>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="redirectToHome()">Back</button>
    <a mat-button [routerLink]="['session']">Sessions</a>
    <a mat-button [routerLink]="['speaker']">Speakers</a>
  </mat-card-actions>
</mat-card>

<router-outlet></router-outlet>
