<mat-card class="container-session-info">
  <div (click)="toggleContent()">
    <h4>
      <ng-content select="[session-header]"></ng-content>
    </h4>
    <ng-content *ngIf="visible" select="[session-content]"></ng-content>
  </div>
</mat-card>
