<div class="container">
  <h3>Data from observable</h3>
  <div *ngFor="let item of events$ | async">
    <cgk-event-info [routerLink]="['/events', item.id]" (click)="onEventInfoClick()" [event]="item"></cgk-event-info>
  </div>
</div>

<div class="container">
  <h3>Data from promise</h3>
  <div *ngFor="let item of eventsAsPromise | async">
    <cgk-event-info [routerLink]="['/events', item.id]" (click)="onEventInfoClick()" [event]="item"></cgk-event-info>
  </div>
</div>

<div class="container">
  <h3>Data from promise - fake server</h3>
  <div *ngFor="let item of events">
    <cgk-event-info [routerLink]="['/events', item.id]" (click)="onEventInfoClick()" [event]="item"></cgk-event-info>
  </div>
</div>


<div class="container">
  <h3>Data from observable - fake server</h3>
  <div *ngFor="let item of eventsObs">
    <cgk-event-info [routerLink]="['/events', item.id]" (click)="onEventInfoClick()" [event]="item"></cgk-event-info>
  </div>
</div>
