.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

mat-toolbar a.active {
  color: #F97924;
}

/* @media (min-width: 650px) {
  .sidenav {
    display: none;
  }
} */
