<!--The content below is only a placeholder and can be replaced.-->
<cgk-nav>
  <mat-progress-spinner *ngIf="loading" class="example-margin" color="accent" mode="indeterminate" value="50">
  </mat-progress-spinner>
  <router-outlet></router-outlet>
</cgk-nav>
