<div>
  <h3>Edit Your Profile </h3>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
      <mat-form-field class="example-full-width" [ngClass]="{'error' : !validateFirstName() }">
        <input formControlName="firstName" matInput placeholder="First Name..." />
        <mat-hint>Value is required.</mat-hint>
        <mat-error *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">
          First Name is
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.pattern">
          Must start with a letter
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" [ngStyle]="{'background-color' : !validateLastName() ? 'beige': '' }">
        <input formControlName="lastName" matInput placeholder="Last Name..." />
        <mat-error *ngIf="!validateLastName() && profileForm.controls.lastName.errors.required">
          Last Name is
          <strong>required</strong>
        </mat-error>

      </mat-form-field>

      <div class="button-row">
        <button mat-raised-button type="submit" class="btn btn-primary">Save</button>
        <button mat-raised-button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
      </div>
    </form>
    <div>
    </div>
