<form class="container">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Type your name" [(ngModel)]="event.name" name="name" #name="ngModel" minlength="5" />
    <mat-error *ngIf="name.invalid">Name is invalid</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="date" placeholder="Choose a date" [(ngModel)]="event.date" name="date" />
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput placeholder="Amount" [(ngModel)]="event.price" name="price" />
  </mat-form-field>

  <button class="submit-btn" mat-raised-button (click)="addEvent()">Submit</button>
</form>