<mat-card class="container-event-info">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>
    </div>
    <mat-card-title>{{event?.name}}</mat-card-title>
    <mat-card-subtitle>Date: {{event?.date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div [ngSwitch]="event?.time">Time: {{event?.time}}
      <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
      <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
      <span *ngSwitchDefault>(Normal Start)</span>
    </div>
    <div>Price: \${{event?.price}}</div>
    <div *ngIf="event?.location">
      <span>Location: {{event?.location?.address}}</span>
      <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
    </div>
    <div *ngIf="event?.onlineUrl">
      Online URL :
      <a [href]="event?.onlineUrl"></a>
    </div>
  </mat-card-content>
</mat-card>
