<p>
  session-list works! {{sessions | json}}

</p>

<div *ngFor="let session of sessions">
 <cgk-session-item-collapsible>
    <mat-card-header session-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>
      </div>
      <mat-card-title>{{session.name}}</mat-card-title>
      <mat-card-subtitle>{{session.presenter}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content session-content>
      <div>Duration: {{session.duration}}</div>
      <div>Level: {{session.level}}</div>
      <div>Notes: {{session.abstract}}</div>
    </mat-card-content>
 </cgk-session-item-collapsible>
</div>
